@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApfelGrotezk';
  src: url('/fonts/ApfelGrotezk-Regular.woff2') format('woff2'),
        url('/fonts/ApfelGrotezk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ApfelGrotezk';
  src: url('/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
        url('/fonts/ApfelGrotezk-Fett.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

h1, h2, h3 {
  @apply font-bold;
}

h4, h5, h6 {
  @apply font-medium;
}

body, input {
  @apply font-sans;
}

/* Button default styles */
.btn {
}

.btn-circle {
  @apply text-base-100;
  @apply bg-base-content;
}

.btn-circle:hover {
  @apply bg-base-content;
}

.btn-outline {
  @apply text-base-content;
  @apply border-base-content;
  @apply bg-base-100;
  @apply h-10;
  @apply px-4;
}

.btn-primary {
  @apply bg-base-content;
  @apply text-base-100;
  @apply border;
}

.btn-primary:disabled {
  @apply opacity-50 !text-base-100;
}

.btn[disabled] {
  @apply text-base-100;
}

.btn-primary:hover {
  @apply border-blue-500;
  @apply bg-base-content;
  @apply text-base-100;
}

.btn-link {
  @apply text-blue-500;
}

/* Input default styles */
.input-bordered {
  @apply text-base-content;
  @apply border-base-content;
}

/* Modal default styles */
.modal-box {
  @apply p-8;
  @apply border;
  @apply border-base-content;
}

/* Label default styles */
.label {
  @apply px-0;
}

.label-text-alt {
  @apply text-sm;
}
